.Button{
    all: unset;
    color: white;
    background: tomato;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}
.Button:hover{
    background:orangered;
    opacity:0.7;
}
.large{
    height:70px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
}
.medium{
    height:50px;
    padding-left:10px;
    padding-right:10px;
    font-size:1rem;
}
.small{
    height:30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
}

.blue{
    background: blue;
}

.blue:hover{
    background: skyblue;
}

.tomato{
    background: tomato;
}
.tomato:hover{
    background: lightsalmon;
}

.gray{
    background: gray;
}
.gray:hover{
    background: lightgray;
}

.fullWidth{
    width:100%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}